<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>QUALITY DATABASE </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"


  </head>
  <body>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div class="container">

    <div class="jumbotron">

    <h1>FMEA Database </h1>

      <nav class="navbar navbar-default navbar-static-top"
      <ul  class="nav navbar-nav"><br>
        <h2>
        <li><a class="navbar-link", href="{% url "admin:index" %}">Admin</a></li>
       
        <li><a class="navbar-link" href="{% url "add_post" %}">FMEA Entry</a></li><br>
        <li><a  class="navbar-link", href="{% url "index" %}">NCR Status</a></li></li>
        <li><a class="navbar-link" href="{% url "fmea_status" %}">FMEA Status</a></li>

        </h2>
      </nav>


    </nav>

      <link rel="stylesheet" href="{% static "css/mystyle.css" %}"/>

      {% if access_records %}

      <style>
  #customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #customers tr:nth-child(even){background-color: #f2f2f2;}

  #customers tr:hover {background-color: #ddd;}

  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }
 


       </div>
      </div>

  </body>
</html>
