<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"


  </head>
  <body>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <div class="jumbotron">
      <div class="container">
      <nav class="navbar navbar-default navbar-static-top"
      <ul class="nav navbar-nav">
      <li><a class="navbar-link", href="{% url "admin:index" %}">Admin</a></li>
      <li><a  class="navbar-link", href="{% url "index" %}">Home page</a></li></li>
      <h1>Fmea Entry</h1>
      </ul>
      </nav>
      <table>
          <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_table }}
      </table>
           <button type="submit">Submit </button>
          </form>
       </div>
     </div>
  </body>
</html>
